{
    "parserOptions": {
        "ecmaFeatures": {
            "arrowFunctions": true,
            "binaryLiterals": true,
            "classes": true,
            "modules": true,
            "objectLiteralShorthandProperties": true,
            "destructuring": true,
            "objectLiteralShorthandMethods": true,
            "spread": true

        },
        "esversion": 8,
        "ecmaVersion": 8,
        "sourceType": "module"
    }

}